* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;}
    
body > header {
    background-color: gray;
    padding: 16px 0;
    color: aliceblue;}
header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;}
header li {
    display: inline;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;}
header li a {
    color: aliceblue;
    text-decoration: none;}
.container {
    width: 1366px;
    margin: 0 auto;}
.articles {
    display:flex;
    flex-wrap: wrap;
    justify-content: space-between;}
.articles article img {
   /* height: 100px; */
    width: 100%;}
.articles article {
    width: 30%;}
section{
    padding: 16px 0;}
section h2, 
.articles article {
    margin-bottom: 16px;}
.articles article h3 {
    margin-top: 8px;
    margin-bottom: 8px;}  
section h2 {
    font-size: 32px;} 
.articles article a {
    background-color: blue;
    color: aliceblue;
    padding: 8px;
    display: inline-block;
    text-decoration: none;
    font-weight: bold;
    margin-top: 8px;}
.articles article a:hover{
    text-decoration: underline;}
.articles article p, .articles article a {
    font-family: Arial, Helvetica, sans-serif;}
.articles article h3 {
    font-size: 24px;}
#sports {
    background-color: rgba(0, 255, 0, 10%);}
#sports .articles article a {
    background-color: rgba(9, 153, 9, 0.7);}
#economy {
    background-color: rgba(240, 232, 131, 0.842);}
#economy .articles article a {
    background-color: rgba(247, 167, 20, 0.938);}
#entretenimento {
    background-color: rgba(89, 156, 245, 0.959);}
#entretenimento .articles article a {
    background-color: rgba(34, 10, 247, 0.7);}
#tecnologia {
    background-color: rgba(241, 118, 118, 0.842);}
#tecnologia .articles article a {
    background-color: rgba(250, 4, 4, 0.938);}